body {
    background-color: #011c28;
    color: #d3b208;
    margin: 0;
    padding: 0 1em;
    font-family: 'DM Mono', monospace;
    font-size: 1.1rem;
}

.json-header {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1em;
    margin-top: 1em;
}

.json-header h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.json-body {
    background-color: #012438;
    padding: 1em;
    border-radius: 1em;
    color: #8db71b;
}

.json-body h2 {
    color: cornflowerblue;
    margin-top: 0;
}

.tab {
    margin-left: 1em;
}

code {
    background-color: #021325;
    border-radius: 0.5em;
    padding: 0.5em;
    line-height: 1.5;
    display: inline-block;
}

pre {
    background-color: #021325;
    border: 1px solid #517b81;
    border-radius: 0.5em;
    line-height: 1.4;
}

pre code {
    display: block;
    background-color: #021325;
    border-radius: 0.5em;
    white-space: pre-wrap;
    font-size: 90%;
}

footer {
    font-size: 1.1rem;
    padding-top: 3em;
    padding-bottom: 3em;
    right: 0;
    position: relative;
    width: 100%;
    text-align: right;
}

a {
    color: #d66531;
}

a:hover {
    color: #f31ab5;
}

blockquote {
    border-left: 2em solid #255965;
    padding-left: 1em;
    margin-left: 0;
    margin-right: 0;
}

blockquote strong {
    color: #f31ab5;
    padding: 5px;
    line-height: 2.5em;
    border: 2px dashed #62f500;
}

hr {
    border: 0;
    height: 2px;
    background-color: #255965;
    margin: 1em auto 1em 0;
    width: 63%;
}

video {
    border-radius: 0.5em;
    width: 100%;
    max-width: 100%;
}


@media only screen and (min-width: 599px) {
    body {
        padding: 0 3em;
        max-width: 72ch;
        margin: auto;
        font-size: 1.3rem;
    }

    video {
        width: 54%;
    }

    blockquote {
        border-left: 7em solid #255965;
    }

    .json-header {
        font-size: 1.5rem;
    }
}
