body {
    background-color: #002235;
    color: #ffd700;
    margin: 60px auto;
    width: 70%;
    max-width: 60rem;
    margin: 0 auto;
    font-family: 'DM Mono', monospace;
}

.jsonjson {
    font-weight: 600;
    font-size: 3rem;
}

.json {
    background-color: #073249;
    padding: 30px;
    width: 80%;
    border-radius: 10px;
    color: #b4e726;
}

.tab {
    margin-left: 40px;
}

.code {
    margin: 20px 0px 20px 0px;
    background-color: #232425;
    padding: 30px;
    border-radius: 5px;
    font-size: 1rem;
}

footer {
    font-size: 1.1rem;
    padding-top: 50px;
    bottom: 20px;
    left: 0;
    position: relative;
    width: 100%;
}
a {
    color: #d66531;
    text-decoration: none !important;
}

a:hover {
    color: #314ad6;
}

hr {
    border: 0;
    height: 1px;
    background-color: #255965;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    width: 70%;
}

video {
    border-radius: 7px;
}


@media only screen and (max-width: 600px) {
    video {
        width: 100%;
    }

    .code {
        font-size: 0.8rem;
        padding: 10px;
    }
    body {
        width: 80%;
    }
}